$md: 24px;
$lg: 30px;
.root {
  @apply relative text-gray-5;
}
.list {
  @apply flex justify-center;
}
.page {
  @apply block text-center;
  .active & {@apply text-gray-0}
  [data-size="md"] & {width: $md; line-height: $md; font-size: 14px;}
  [data-size="lg"] & {width: $lg; line-height: $lg; font-size: 16px;}
}
.nav {
  @apply flex items-center justify-center h-full;
  [data-size="md"] & {
    svg {width: 20px;}
    &.prev {@apply mr-3}
    &.next {@apply ml-3}
  }
  [data-size="lg"] & {
    &.prev {@apply mr-2}
    &.next {@apply ml-2}
  }
}
