.root {
  @apply relative bg-no-repeat;
  :global {
    .breadcrumbs {
      @apply order-first mb-2 text-body-4 text-gray-2;
    }
    .guide {
      &-area {@apply p-3 text-body-4 leading-6 bg-gray-0/2 rounded-base}
      &-title {@apply font-bold text-gray-3}
      &-list {@apply mt-2 space-y-0.5}
      &-item {
        @apply relative pl-5 keep-all;
        &:not([class*='text-']) {@apply text-gray-4}
        &::before {@apply content-[''] absolute top-[9px] left-2 w-[5px] h-[5px] bg-current rounded-full}
      }
    }
  }
}
.inner {
  @apply relative flex mx-auto bg-no-repeat;
  &:not([class*='flex-']) {@apply flex-col justify-center}
}

// screen
$padding: var(--padding);
[data-screen="default"] {
  $width: var(--screen-default);
  .inner {
    max-width: calc($width + $padding*2);
    padding: {
      right: $padding;
      left: $padding;
    }
  }
}
[data-screen="narrow"] {
  $width: var(--screen-narrow);
  .inner {
    max-width: calc($width + $padding*2);
    padding: {
      right: $padding;
      left: $padding;
    }
  }
}

// variant
[data-variant="create"] {
  .inner {
    background-position: right calc(20px + $padding) bottom;
    &:not([class*='bg']) {
      background-image: url(/assets/images/sub/create.png);
      background-size: 240px auto;
    }
    padding: {
      top: 70px;
      bottom: 50px;
    }
  }
  .title,.description {@apply px-5}
}
[data-variant="detail"] {
  .root {@apply bg-white}
}

// background
.root[data-theme] {
  background-position: center top;
  background-image: url(/assets/images/bg_sub.png);
  .inner {
    background-position: right $padding center;
    background-size: auto 240px;
  }
}
[data-theme="business"] {
  .inner {background-image: url(/assets/images/sub/business.png);}
}
[data-theme="notice"] {
  .inner {background-image: url(/assets/images/sub/notice.png);}
}
[data-theme="usage"] {
  .inner {background-image: url(/assets/images/sub/usage.png);}
}
[data-theme="authkey"] {
  .inner {background-image: url(/assets/images/sub/authkey.png);}
}
[data-theme="service"] {
  .inner {background-image: url(/assets/images/sub/service.png);}
}
[data-theme="guide"] {
  .inner {background-image: url(/assets/images/sub/guide.png);}
}
:global(.sr-list) {
  .root {
    background-position: center top;
    background-image: url(/assets/images/bg_sub.png);
    background-size: cover;
  }
}

// children
.title {
  @apply font-bold font-display text-head-1 text-gray-0;
}
.description {
  @apply mt-3 font-light text-subhead-3 text-gray-3 whitespace-pre-line;
}
