.root {
  @apply fixed z-40 top-[var(--header-height)] left-0 bg-white -translate-x-full transition-all;
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  box-shadow: inset -1px 0 0 0 rgb(243 243 243);
  &.open {
    @apply transform-none;
    box-shadow: inset -1px 0 0 0 rgb(243 243 243), 0px 4px 40px rgb(6 5 5 / 5%);
  }
}
.handle {
  @apply absolute top-10 w-[18px] h-[67px] bg-no-repeat bg-contain bg-left border-0 rounded-none;
  left: calc(100% - 1px);
  background-image: url(/assets/images/handle.png);
}
.sidebar {
  @apply overflow-x-hidden overflow-y-auto h-full px-5;
}
.title {
  @apply flex h-[100px] justify-center items-center mb-6 font-bold text-body-2 text-gray-4 border-b;
}
.list {
  &:not(.depth-1) {@apply hidden}
  .expanded > & {@apply block}
  &.depth-1 {
    > .item {
      > .toggle,> .link {@apply h-15 text-body-3 text-gray-1}
    }
  }
  &.depth-2 {
    @apply bg-gray-8 rounded-base;
    > .item {
      @apply border-t border-white;
      > .toggle,> .link {@apply h-10 text-body-4 text-gray-2}
    }
  }
  &.depth-3 {
    @apply bg-gray-7;
    > .item {
      @apply border-t border-white;
      > .link {@apply h-10 text-body-4 text-gray-3}
    }
  }
}
.toggle,.link {@apply overflow-hidden px-5}
.toggle {
  @apply w-full justify-between;
  &::after {
    @apply content-[''] w-5 h-5 bg-no-repeat bg-contain opacity-80;
    background-image: url(/assets/images/icon-plus.svg);
  }
  .expanded > &::after {
    background-image: url(/assets/images/icon-minus.svg);
  }
}
.link {@apply flex items-center whitespace-nowrap}
