.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.wrapper {
  background-color: #282c34;
  min-height: calc(100vh - 20px);
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.score-board-wrapper {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 9fr;
  background-color: white;
  color: black;
  font-size: 12px;
}

.date {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score {
  width: 100%;
  height: 100%;
}
.each-record {
  display: grid;
  grid-template-columns: 1fr 9fr;
  border: 0.5px solid grey;
  text-align: center;
}
.record-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.record-content > div {
  border-left: 0.5px solid grey;
}

.team > div {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

.win {
  background-color: #c9daf8;
}
.loose {
  background-color: #f4cccc;
}
.mvp {
  background: #fff2cc;
}
