.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.wrapper {
  min-height: calc(100vh);
  color: white;
  background-color: #282c34;
}

.score-board-wrapper {
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin: 12px 0;
  font-size: 12px;
  color: black;
  background-color: white;
  border: 1px solid grey;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid grey;
}
.score {
  width: 100%;
  height: 100%;
}
.each-record {
  display: grid;
  grid-template-columns: 1fr 9fr;
  text-align: center;
}
.each-record:first-child {
  border-bottom: 1px solid grey;
}
.record-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.record-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.record-content > div {
  border-left: 1px solid grey;
}

.team > div {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  padding: 2px;
}

.win {
  background-color: #c9daf8;
}
.loose {
  background-color: #f4cccc;
}
.mvp {
  background: #fff2cc;
}

.player-title {
  font-weight: bold;
  padding-bottom: 8px;
  font-size: 17px;
}
.player-item {
  font-size: 12px;
  line-height: 1.7;
}
.player-item > div {
  display: flex;
  align-items: center;
}
.player-item .bot {
  justify-content: space-between;
}
.player-item span:first-of-type {
  margin-right: 4px;
}
.player-item .name {
  font-size: 13px;
}
.player-item .line {
  color: #b5b1aa;
}
.player-item .kda,
.player-item .champ {
  opacity: 0.8;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background: white;
}
.modal-header {
  padding: 20px 30px;
}
.modal-body {
  padding: 0px 30px 20px;
}
