.root {
  @apply relative;
}
.inner {
  @apply relative mx-auto pb-24;
}

// screen
$padding: var(--padding);
[data-screen="default"] {
  $width: var(--screen-default);
  .inner {
    max-width: calc($width + $padding*2);
    padding: {
      right: $padding;
      left: $padding;
    }
  }
}
[data-screen="narrow"] {
  $width: var(--screen-narrow);
  .inner {
    max-width: calc($width + $padding*2);
    padding: {
      right: $padding;
      left: $padding;
    }
  }
}
